.home{
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 500px;  
  background: #000;
  overflow: hidden;
}


.home .max-width {
    margin:auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}



@media (max-width: 990px){
  
    .max-width{
        max-width:800px;
    }
    .home .home-content .column{
        width: 100%;
    }
  
    .home .home-content .left{
        
        justify-content: center;
        margin: 0 auto 60px;
     }
   
}
@media only screen and (max-width: 600px) {
    .max-width{
        max-width:600px;
    }
    .home .home-content .column{
        width: 100%;
    }
    .home .home-content .right img{
        width: 300px;
    }
    .home .home-content .left{
        
        justify-content: center;
        margin: 0 auto 60px;
     }
    .home .home-content.right{
        flex: 100%;
       }
}

